<header id="header" class="container-fluid">

  <section class="row ">
    <div class="container">

      <section class="row align-items-center">
        <article class="col-auto ">
          <img id="logo" src="//assets.openport.com/img/logo-openport-light2.svg">
        </article>
        <article class="p-md-0" id="wordmark">Customer Portal</article>
      </section>

    </div>
  </section>

</header>




<main class="container">

  <section id="products" class="row">
    <article class="col-12">
      <div class="container op-box" id="announcement">
        <section class="row align-items-center">
          <article class="col-auto pr-0">
            <span class="mdi mdi-alert-circle-outline"></span>
          </article>
          <article class="col">
            <p>
              Advisory: Philippine Server maintainance on October 20, 2018 from 13:00 GMT+8. Estimated duration 2hrs. </p>
          </article>
        </section>
      </div>
    </article>
  </section>

  <section id="products" class="row">



    <article class="col-12">
      <h2>Products</h2>
    </article>

    <article class="col-lg-4">
      <div class="container op-box">
        <section class="row ">
          <article class="col">
            <h1>OpenTM</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
              sociis natoque penatibus et ma</p>
            <p>
              <a href="https://opentm.openport.com" mat-button>
                <span class="mdi mdi-web"></span> opentm.openport.com</a>
            </p>
          </article>
        </section>
      </div>
    </article>

    <article class="col-lg-4">
      <div class="container op-box">
        <section class="row ">
          <article class="col">
            <h1>OpenDispatch</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
              sociis natoque penatibus et ma</p>
            <p>
              <a href="https://opendispatch.openport.com" mat-button>
                <span class="mdi mdi-web"></span> opendispatch.openport.com</a>
            </p>
          </article>
        </section>
      </div>
    </article>

    <article class="col-lg-4">
      <div class="container op-box">
        <section class="row ">
          <article class="col">
            <h1>OpenPaid</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
              sociis natoque penatibus et ma</p>
            <p>
              <a href="https://liquidity.openport.com" mat-button>
                <span class="mdi mdi-web"></span> liquidity.openport.com</a>
            </p>
          </article>
        </section>
      </div>
    </article>

  </section>

  <section class="row">



    <article class="col-12">
      <h2>Resources</h2>
    </article>




    <article class="col-md-4">

      <div class="container op-box">
        <section class="row ">
          <article class="col">
            <h1>Guide Articles</h1>
            <ul>
              <li>
                <span class="mdi mdi-file-pdf-box"></span> Beginners Guide</li>
              <li>
                <span class="mdi mdi-file-pdf-box"></span> OpenPort History</li>
              <li>
                <span class="mdi mdi-file-powerpoint-box"></span> Blockchain Introduction</li>
              <li>
                <span class="mdi mdi-file-powerpoint-box"></span> Beginners Guide</li>
              <li>
                <span class="mdi mdi-file-pdf-box"></span> OpenPort History</li>
            </ul>
          </article>
        </section>
      </div>

    </article>

    <article class="col-md-4">

      <div class="container op-box">
        <section class="row ">
          <article class="col">
            <h1>Templates</h1>
            <ul>
              <li>
                <span class="mdi mdi-file-excel-box"></span> Shipment Template</li>
              <li>
                <span class="mdi mdi-file-word-box"></span> Invoice Template</li>
              <li>
                <span class="mdi mdi-file-excel-box"></span> Delivery Template</li>
              <li>
                <span class="mdi mdi-file-word-box"></span> Invoice Template</li>
              <li>
                <span class="mdi mdi-file-powerpoint-box"></span> Shipment Template</li>
            </ul>
          </article>
        </section>
      </div>
    </article>

    <article class="col-md-4">

      <div class="container op-box">
        <section class="row ">
          <article class="col">
            <h1>Server Status</h1>

            <ul>
              <li>
                <span class="mdi mdi-check-circle " style="color: #33691E"></span> Philippines </li>
              <li>
                <span class="mdi mdi-alert" style="color: #FFAB00"></span> India &mdash;
                <em>Server upgrade ongoing</em>
              </li>
              <li>
                <span class="mdi mdi-check-circle" style="color: #33691E"></span> Pakistan </li>
              <li>
                <span class="mdi mdi-check-circle" style="color: #33691E"></span> China </li>
              <li>
                <span class="mdi mdi-check-circle" style="color: #33691E"></span> Indonesia </li>
            </ul>
          </article>
        </section>
      </div>

    </article>

  </section>

</main>