@import '../node_modules/@angular/material/theming';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @include mat-core();
$electric-blue: ( 50: #e0edff, 100: #b3d3ff, 200: #80b6ff, 300: #4d99ff, 400: #2683ff, 500: #006dff, 600: #0065ff, 700: #005aff, 800: #0050ff, 900: #003eff, A100: #ffffff, A200: #f2f5ff, A400: #bfcbff, A700: #a6b6ff, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #ffffff, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
$han-purple: ( 50: #ede4ff, 100: #d1bcff, 200: #b28fff, 300: #9362ff, 400: #7c41ff, 500: #651fff, 600: #5d1bff, 700: #5317ff, 800: #4912ff, 900: #370aff, A100: #ffffff, A200: #f6f5ff, A400: #cbc2ff, A700: #b5a8ff, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #ffffff, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));


$my-theme-warn: mat-palette($mat-red);
$opt-theme: mat-light-theme($electric-blue, $han-purple, $my-theme-warn);
@include angular-material-theme($opt-theme); */

$electric-blue: #006dff;
$dark-blue: #152044;
$off-gray: #F2F1F2;

$border-radius: 5px;

body {
    font-family: Real Text, serif;
    background: $off-gray;
    color: $dark-blue;
}

a {
    color: inherit;
    font-weight: 700;
   
}
h1 {
    font: 1.5rem/1 Hurme Geometric Sans, serif;
    color: $electric-blue;
}
h2 {
    font: 0.95rem/1 Hurme Geometric Sans, serif;
    text-transform: uppercase;
    font-weight: 700;
}

p, li {
    font-size: 0.8rem;
}
.material-icons, .mdi {
    vertical-align: middle;
}
.container,
.container-fluid {
    padding: 0 1rem;
    .row {
        margin: 0 -1rem;
        padding: 1rem 0 0;
        //border-bottom: 1px red dotted;
        >* {
            margin-bottom: 1rem;
            padding: 0 1rem;
            >*:last-child {
                margin-bottom: 0;
            }
        }

    }
}
.op-box {
    background: #fff;
    border-radius: $border-radius;

}

header#header {
    background-image: url(https://assets.openport.com/img/bg-inner_header.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 12rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
    color:#fff;

}

#logo {
    
    width: 11rem;
    height: auto;
    float: left;
}

#wordmark {
    font: 2rem/1 Work Sans, serif;
}

#announcement {
    border-radius: $border-radius;
  /*  border: 1px #651FFF solid;
    background: #fff;  */
    /*  background: $electric-blue; color: #fff;
    background: #1DE9B6;*/
    //border: 1px $dark-blue solid;
    background: #651FFF; color: #fff;
    //padding: 0.5rem 1rem;
    font-size: 1rem;
    /* .mdi {
        margin-right: 0.5rem;
    } */
}

.mat-button {
font-family: inherit;
color: inherit;
font-weight: 700;
border: 1px $dark-blue solid !important;
padding: 0 1rem 0 0.5rem !important;
}

#products .mdi {
   margin-right: 0.25rem;
}

.mdi-file-pdf-box {
    color: #f00;
}


.mdi-file-word-box {
    color: #00a1f1;
}


.mdi-file-excel-box {
    color: #7cbb00;
}


.mdi-file-powerpoint-box {
    color: #f65314;
}



ul {
    list-style: none;
    padding-left: 0;
}